<li>
	<a href="$!item.href">
	  <img src="http://a.tbcdn.cn/kissy/1.0.0/build/imglazyload/spaceball.gif" data-ks-lazyload="$!{item.picUrl}_200x200.jpg" class="item-img-resize">
	  <span class="title">$!item.itemTitle</span>
	  <span class="discount"><span class="vt-bottom"><em>￥</em>$!item.discountPrice</span></span>
	  <span class="price">￥$!item.auctionPrice</span>
	  #if($!item.isSoldOut == true)
		<span class="sold-out">卖光了</span>
	  #end
	</a>
	
</li>